//
//  Secrets.xcconfig
//  LocalGrounds
//
//  Created by Carly Jazwin on 11/15/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

YELP_API_KEY=7ZiIHN8TWW7PfXCQcU0af5wueHNoNhOr4v7s_G2AlSERtASpEz39UoqLrd9sYO42_dTqFqy3al9W1beVYocnhtNWRjnJTqjRtqfIqz0-UenF5keQ9978u0GhPrsWaXYx
